<a href="https://colab.research.google.com/github/Pedro-hn/Pyspark/blob/main/Pyspark_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

##Load the necessary labraries

In [ ]:
from pyspark.sql import SparkSession

##Start the spark session

In [ ]:
spark = SparkSession.builder.appName("introduction").getOrCreate()

In [ ]:
print(spark)

##First way to read a dataset

In [ ]:
df_pyspark = spark.read.csv("train.csv",header=True, inferSchema=True)

In [ ]:
df_pyspark.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|        _c0|     _c1|   _c2|                 _c3|   _c4| _c5|  _c6|  _c7|             _c8|    _c9| _c10|    _c11|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|     13| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(4)

[Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S'),
 Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Cabin='C85', Embarked='C'),
 Row(PassengerId=3, Survived=1, Pclass=3, Name='Heikkinen, Miss. Laina', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='STON/O2. 3101282', Fare=7.925, Cabin=None, Embarked='S'),
 Row(PassengerId=4, Survived=1, Pclass=1, Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket='113803', Fare=53.1, Cabin='C123', Embarked='S')]

## Second way to read a dataset with pyspark

In [ ]:
df_pyspark = spark.read.option("header", "true").csv("train.csv", inferSchema= True)

In [ ]:
df_pyspark.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(4)

[Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S'),
 Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Cabin='C85', Embarked='C'),
 Row(PassengerId=3, Survived=1, Pclass=3, Name='Heikkinen, Miss. Laina', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='STON/O2. 3101282', Fare=7.925, Cabin=None, Embarked='S'),
 Row(PassengerId=4, Survived=1, Pclass=1, Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket='113803', Fare=53.1, Cabin='C123', Embarked='S')]

##Checking the Schema

In [ ]:
df_pyspark.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [ ]:
df_pyspark.dtypes

[('PassengerId', 'int'),
 ('Survived', 'int'),
 ('Pclass', 'int'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'double'),
 ('SibSp', 'int'),
 ('Parch', 'int'),
 ('Ticket', 'string'),
 ('Fare', 'double'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

In [ ]:
df_pyspark.describe()

DataFrame[summary: string, PassengerId: string, Survived: string, Pclass: string, Name: string, Sex: string, Age: string, SibSp: string, Parch: string, Ticket: string, Fare: string, Cabin: string, Embarked: string]

In [ ]:
df_pyspark.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

## Selecting columns in dataframe

In [ ]:
df_pyspark.select("Survived")

DataFrame[Survived: int]

In [ ]:
df_pyspark.select("Survived").show(5)

+--------+
|Survived|
+--------+
|       0|
|       1|
|       1|
|       1|
|       0|
+--------+
only showing top 5 rows

In [ ]:
df_pyspark.select(["Survived","Sex"]).show(5)

+--------+------+
|Survived|   Sex|
+--------+------+
|       0|  male|
|       1|female|
|       1|female|
|       1|female|
|       0|  male|
+--------+------+
only showing top 5 rows

##Adding columns in dataframe

In [ ]:
df_pyspark = df_pyspark.withColumn("Age new", df_pyspark["Age"]+3)

In [ ]:
df_pyspark.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Age new|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|   25.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|   41.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|   29.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|   38.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|   38.0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-------+
only showing top 5 rows

In [ ]:
df_pyspark = df_pyspark.drop("Age new")

In [ ]:
df_pyspark.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

## Renaming the columns

In [ ]:
df_pyspark.withColumnRenamed("Name", "Identification").show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|      Identification|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [ ]:
df_pyspark.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

## Handling Missing Values with Pyspark

*   Dropping columns
*   Dropping rows
*   Various parameter in dropping functionalities
*   By mean or median(depending of the probability distribution)

Dropping columns

In [ ]:
data = [
    ("Julio",None,"M",None),
    ("Ana","MG","F",4),
    ("Maria",None,None,4)
  ]

columns = ["name","state","gender","level"]
df = spark.createDataFrame(data,columns)
df.show()

+-----+-----+------+-----+
| name|state|gender|level|
+-----+-----+------+-----+
|Julio| NULL|     M| NULL|
|  Ana|   MG|     F|    4|
|Maria| NULL|  NULL|    4|
+-----+-----+------+-----+

In [ ]:
# For drop multiples columns you don't need use []
df.drop("state", "gender").show()

Dropping rows containing NA values

In [ ]:
df.na.drop(subset=["gender"]).show()

+-----+-----+------+
| name|state|gender|
+-----+-----+------+
|Julio| NULL|     M|
|  Ana|   MG|     F|
+-----+-----+------+

In [ ]:
df.na.drop().show()

+----+-----+------+
|name|state|gender|
+----+-----+------+
| Ana|   MG|     F|
+----+-----+------+

Filling missing values

In [ ]:
# String case
df.na.fill("SP", ["state"]).show()

+-----+-----+------+-----+
| name|state|gender|level|
+-----+-----+------+-----+
|Julio|   SP|     M| NULL|
|  Ana|   MG|     F|    4|
|Maria|   SP|  NULL|    4|
+-----+-----+------+-----+

In [ ]:
# Numeric case
# You will need the function Imputer
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=["level"],
    outputCols=["{}_imputed".format(c) for  c in ["level"]]
).setStrategy("mean")

In [ ]:
imputer.fit(df).transform(df).show()

+-----+-----+------+-----+-------------+
| name|state|gender|level|level_imputed|
+-----+-----+------+-----+-------------+
|Julio| NULL|     M| NULL|            4|
|  Ana|   MG|     F|    4|            4|
|Maria| NULL|  NULL|    4|            4|
+-----+-----+------+-----+-------------+

##Pyspark DataFrames

In [ ]:
data = [
    ("Julio",None,"M",3),
    ("Ana","MG","F",4),
    ("Maria",None,None,5)
  ]

columns = ["name","state","gender","level"]
df = spark.createDataFrame(data,columns)
df.show()

+-----+-----+------+-----+
| name|state|gender|level|
+-----+-----+------+-----+
|Julio| NULL|     M|    3|
|  Ana|   MG|     F|    4|
|Maria| NULL|  NULL|    5|
+-----+-----+------+-----+

In [ ]:
df.filter("level<=4").show()

+-----+-----+------+-----+
| name|state|gender|level|
+-----+-----+------+-----+
|Julio| NULL|     M|    3|
|  Ana|   MG|     F|    4|
+-----+-----+------+-----+

In [ ]:
# and
df.filter((df["level"]==4) &
          (df["gender"]=="F")).show()

+----+-----+------+-----+
|name|state|gender|level|
+----+-----+------+-----+
| Ana|   MG|     F|    4|
+----+-----+------+-----+

In [ ]:
# or
df.filter((df["level"] <=4) |
          (df["gender"] == "F")).show()

+-----+-----+------+-----+
| name|state|gender|level|
+-----+-----+------+-----+
|Julio| NULL|     M|    3|
|  Ana|   MG|     F|    4|
+-----+-----+------+-----+

In [ ]:
df.filter(df["level"]<=4).show()

+-----+-----+------+-----+
| name|state|gender|level|
+-----+-----+------+-----+
|Julio| NULL|     M|    3|
|  Ana|   MG|     F|    4|
+-----+-----+------+-----+

In [ ]:
df.filter("level<=4").select(["name", "state"]).show()

+-----+-----+
| name|state|
+-----+-----+
|Julio| NULL|
|  Ana|   MG|
+-----+-----+

In [ ]:
df.filter("level==5").show()

+-----+-----+------+-----+
| name|state|gender|level|
+-----+-----+------+-----+
|Maria| NULL|  NULL|    5|
+-----+-----+------+-----+

In [ ]:
# negative
df.filter(~(df["gender"]=="M")).show()

+----+-----+------+-----+
|name|state|gender|level|
+----+-----+------+-----+
| Ana|   MG|     F|    4|
+----+-----+------+-----+

##Groupby and Aggregate functions

In [ ]:
df_pyspark.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [ ]:
df_pyspark.groupBy("Name").sum().show()

+--------------------+----------------+-------------+-----------+--------+----------+----------+---------+
|                Name|sum(PassengerId)|sum(Survived)|sum(Pclass)|sum(Age)|sum(SibSp)|sum(Parch)|sum(Fare)|
+--------------------+----------------+-------------+-----------+--------+----------+----------+---------+
|"Watt, Mrs. James...|             162|            1|          2|    40.0|         0|         0|    15.75|
|Young, Miss. Mari...|             326|            1|          1|    36.0|         0|         0| 135.6333|
|Parr, Mr. William...|             634|            0|          1|    NULL|         0|         0|      0.0|
|Soholt, Mr. Peter...|             716|            0|          3|    19.0|         0|         0|     7.65|
|Goldsmith, Mrs. F...|             329|            1|          3|    31.0|         1|         1|   20.525|
|    Dimic, Mr. Jovan|             350|            0|          3|    42.0|         0|         0|   8.6625|
|Harper, Mr. Henry...|             646|            1|          1|    48.0|         1|         0|  76.7292|
|Reuchlin, Jonkhee...|             823|            0|          1|    38.0|         0|         0|      0.0|
|Fahlstrom, Mr. Ar...|             229|            0|          2|    18.0|         0|         0|     13.0|
|Hosono, Mr. Masabumi|             289|            1|          2|    42.0|         0|         0|     13.0|
| Partner, Mr. Austen|             332|            0|          1|    45.5|         0|         0|     28.5|
|Van Impe, Miss. C...|             420|            0|          3|    10.0|         0|         2|    24.15|
|Bjornstrom-Steffa...|             431|            1|          1|    28.0|         0|         0|    26.55|
|    Saad, Mr. Khalil|             694|            0|          3|    25.0|         0|         0|    7.225|
| Sirota, Mr. Maurice|             838|            0|          3|    NULL|         0|         0|     8.05|
|Slemen, Mr. Richa...|             813|            0|          2|    35.0|         0|         0|     10.5|
|McCormack, Mr. Th...|             829|            1|          3|    NULL|         0|         0|     7.75|
|Potter, Mrs. Thom...|             880|            1|          1|    56.0|         0|         1|  83.1583|
|Palsson, Miss. St...|             375|            0|          3|     3.0|         3|         1|   21.075|
|"Nakid, Miss. Mar...|             382|            1|          3|     1.0|         0|         2|  15.7417|
+--------------------+----------------+-------------+-----------+--------+----------+----------+---------+
only showing top 20 rows

In [ ]:
df_pyspark.groupby("Pclass").sum().show()

+------+----------------+-------------+-----------+--------+----------+----------+------------------+
|Pclass|sum(PassengerId)|sum(Survived)|sum(Pclass)|sum(Age)|sum(SibSp)|sum(Parch)|         sum(Fare)|
+------+----------------+-------------+-----------+--------+----------+----------+------------------+
|     1|           99705|          136|        216| 7111.42|        90|        77|18177.412499999984|
|     3|          215625|          119|       1473| 8924.92|       302|       193| 6714.695100000002|
|     2|           82056|           87|        368| 5168.83|        74|        70|3801.8416999999995|
+------+----------------+-------------+-----------+--------+----------+----------+------------------+

In [ ]:
df_pyspark.groupby("Pclass").count().show()

+------+-----+
|Pclass|count|
+------+-----+
|     1|  216|
|     3|  491|
|     2|  184|
+------+-----+

In [ ]:
df_pyspark.agg({"Survived":"sum"}).show()

+-------------+
|sum(Survived)|
+-------------+
|          342|
+-------------+

In [ ]:
df_pyspark.groupby("Pclass").max().show()

+------+----------------+-------------+-----------+--------+----------+----------+---------+
|Pclass|max(PassengerId)|max(Survived)|max(Pclass)|max(Age)|max(SibSp)|max(Parch)|max(Fare)|
+------+----------------+-------------+-----------+--------+----------+----------+---------+
|     1|             890|            1|          1|    80.0|         3|         4| 512.3292|
|     3|             891|            1|          3|    74.0|         8|         6|    69.55|
|     2|             887|            1|          2|    70.0|         3|         3|     73.5|
+------+----------------+-------------+-----------+--------+----------+----------+---------+

In [ ]:
df_pyspark.groupby("Pclass").min().show()

+------+----------------+-------------+-----------+--------+----------+----------+---------+
|Pclass|min(PassengerId)|min(Survived)|min(Pclass)|min(Age)|min(SibSp)|min(Parch)|min(Fare)|
+------+----------------+-------------+-----------+--------+----------+----------+---------+
|     1|               2|            0|          1|    0.92|         0|         0|      0.0|
|     3|               1|            0|          3|    0.42|         0|         0|      0.0|
|     2|              10|            0|          2|    0.67|         0|         0|      0.0|
+------+----------------+-------------+-----------+--------+----------+----------+---------+

In [ ]:
# Can be used avg() or mean()
df_pyspark.groupby("Pclass").avg().show()

+------+------------------+-------------------+-----------+------------------+-------------------+-------------------+------------------+
|Pclass|  avg(PassengerId)|      avg(Survived)|avg(Pclass)|          avg(Age)|         avg(SibSp)|         avg(Parch)|         avg(Fare)|
+------+------------------+-------------------+-----------+------------------+-------------------+-------------------+------------------+
|     1|461.59722222222223| 0.6296296296296297|        1.0|38.233440860215055| 0.4166666666666667|0.35648148148148145| 84.15468749999992|
|     3| 439.1547861507128|0.24236252545824846|        3.0| 25.14061971830986|  0.615071283095723|0.39307535641547864|13.675550101832997|
|     2|445.95652173913044|0.47282608695652173|        2.0| 29.87763005780347|0.40217391304347827| 0.3804347826086957| 20.66218315217391|
+------+------------------+-------------------+-----------+------------------+-------------------+-------------------+------------------+